VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_INVARIANT_ENFORCEMENT_MODE=
VITE_META_WHATSAPP_SERVER_URL=https://whatsapp.indiantrendstore.in
VITE_META_WHATSAPP_BACKEND_PUBLIC_KEY=your_public_backend_key
