PORT=3002
NODE_ENV=development

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=1130695046797961
WHATSAPP_WABA_ID=996876732799468
WHATSAPP_API_VERSION=v25.0

WHATSAPP_TEMPLATE_NAME=stockflow_sale_invoice
WHATSAPP_TEMPLATE_LANGUAGE=en
WHATSAPP_TEMPLATE_HAS_IMAGE_HEADER=true
